# ========================
# Build outputs
# ========================
**/target/
**/dist/
**/node_modules/

# ========================
# IDE / Editor
# ========================
.idea/
**/.vscode/
*.iws
*.iml
*.ipr

# ========================
# Logs
# ========================
**/*.log

# ========================
# Environment files
# ========================
.env
**/.env

# ========================
# OS files
# ========================
Thumbs.db
.DS_Store
